@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-style: normal;
    background-color: #121052;
    color: #FFFFFF;
    margin: 0px;
    
}

/* ------- Top Nav Login ------- */
.top-nav {
    text-decoration: none;
    width: 100%;
    background-color: #AC99FF;
    color: #121052;
    z-index: 999;
    position: sticky;
}

.top-nav .nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px 25px 10px;

}
.nav-left, .nav-right {
    display: flex;
    flex-direction: row;
    gap: 55px;
}

nav ul {
list-style: none;
  align-items: center;
  padding: 5px 10px;
  margin: 0;

}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #060529;
    text-shadow: 0px 0px 5px #5954eb;
}

/* ------- Footer Nav ------- */

.bottom-nav {
    text-decoration: none;
    width: 100%;
    background-color: #AC99FF;
    color: #121052;
    z-index: 999;
    text-align: center;
}
.bottom-nav a{
    scroll-behavior: smooth;
}

/* ------- Discover User ------- */
.discover-users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.other-user {
    background-color: #CBC5E1;
    border-radius: 20px;
    width: 290px;
    height: 120px;
    padding: 15px 20px 15px 20px;
    
}

.title {
    display: flex;
    flex-direction: row;
    
}

.title img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-right: 10px;
}

.title h3 {
    margin-top: 0px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding-bottom: 0px;
}

.title h4 {
    margin-top: -15px;
    font-weight: 400;
    font-size: 16px;
    color: #414040;
}

.other-user p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}



/* ------- Info Block ------- */
.past-experience {
    display: flex;
    gap: 70px;
    justify-content: center
}

.past-experience .info-block {
    flex: 0 0 300px;
}

.info-block {
    width: 280px;
    height: 350px;
    background: linear-gradient(180deg, #F2D482 0%, #FAA259 100%), #FAA259;
    border-radius: 20px;
    text-align: center;
    color: #000000;
    padding: 30px 20px 30px 20px;
}

.info-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}

.info-company {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.info-date {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.info-list {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    list-style: none;
    display: inline;
}

.technical-skills {
    margin: 0px 200px 100px 200px;
    display: flex;
    gap: 75px;
    justify-content: center;
}



/* ------- Project Preview ------- */
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 60px;
    justify-content: center;
}
.preview-project {
    width: 560px;
    max-height: 250px;
    background: #F2D482;
    border-radius: 45px;
    display: flex;
    padding: 30px 20px 30px 20px;
}

.preview-project img {
    height: 170px;
    width: auto;
    border-radius: 20px;

}

.project-info {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-info h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.project-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin: 0px;
    
}

.materials {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FAA259;
    border-radius: 20px;
    
}

.materials ul {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.materials ul li {
    margin-bottom: 10px;
}


/* ------- Search Bar ------- */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.search-input {
    border-radius: 9999px;
    width: 90%;
    padding: 10px;
}


/* ------- Template Two ------- */
.user-top {
    display: flex;
    flex-direction: row;
    margin: 60px;
}

.user-top img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
.user-title {
    padding-left: 20px;
}

.user-title  h1{
    font-size: 40px;
    color: #F2D482;
}

.user-title h2 {
    font-size: 36px;
    color: #FAA259;
}

.user-title h3 {
    font-size: 32px;
    color: #FFFFFF;
}

.about {
    margin: 0 85px 0 85px;
}

.user-header-temp-2 {
    font-size: 32px;
    color: #AC99FF;
    margin: 50px 150px 50px 150px;
}

.project-list a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}

.project-list a:hover {
    transform: scale(1.1);
}

/* -------Project Details -------*/
.project-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.project-header h1 {
    margin-left: 50px;
    color: #FAA259;
}
.project-header h3 a {
    text-decoration: none;
    color: inherit;
    background-color: #B3ACFA;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.project-header h3 a:hover {
    background-color: #8b85d2;
    color: #cec9c9;
}


.project-content {

    padding: 0px 50px 50px 50px;
    padding-top: 50px;
    margin-bottom: 50px;
    background-color: #AC99FF;
       
}

.project-content h2 {
    font-size: 32px;
}
.project-content p {
    font-size: 18px;
    color: #060529;
}

/* ------- Folder ------- */

.tab ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 0;
}
.tab li {
    text-decoration: none;
    list-style: none;
    background-color: #AC99FF;
    color: #FFFFFF;
    font-size: 32px;
    border-radius: 12px 12px 0px 0px;
    padding: 10px 50px 10px 50px;
}



/* ------- Login ------- */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

.login-page h1 {
    margin: 50px;
}
.register-form {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 60px 80px;
    margin: 50px;
}

.register-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 15px, 0;
    padding-bottom: 20px;
}

form input {
    width: 400px;
    height: 30px;
    background-color: #D9D9D9;
    align-items: center;
    font-family: 'Pixelify Sans', sans-serif;
}

.extra-register {
    color: #A0A0A0;
    font-size: 12px;
    
   

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#submit {
    background-color: #B3ACFA;
    box-shadow: #121052;
    font-family: 'Pixelify Sans', sans-serif;
}

/* ------- Template Picker ------- */
.template-page {
    margin: 50px;
    text-align: center;
}

.template-page h1 {
    font-size: 36px;
    color: #F2D482;
}

.template-page p {
    font-size: 20px;
    color: #EFEBFF;
}

.template-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.template-picker img {
    width: 600px;
    height: 375px;
}